USE [master]
GO
/****** Object:  Database [LibraryDB]    Script Date: 2025-12-28 14:20:27 ******/
CREATE DATABASE [LibraryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryDB', FILENAME = N'C:\Users\D\LibraryDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryDB_log', FILENAME = N'C:\Users\D\LibraryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryDB]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 2025-12-28 14:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[MemberId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 2025-12-28 14:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[BookId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Author] [nvarchar](200) NOT NULL,
	[ISBN] [nvarchar](20) NULL,
	[Category] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loan]    Script Date: 2025-12-28 14:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loan](
	[LoanId] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [int] NOT NULL,
	[MemberId] [int] NOT NULL,
	[LoanDate] [date] NOT NULL,
	[DueDate] [date] NOT NULL,
	[ReturnDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[LoanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ActiveLoans]    Script Date: 2025-12-28 14:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[ActiveLoans] AS
SELECT 
    l.LoanId,
    b.Title AS BookTitle,
    m.FirstName + ' ' + m.LastName AS MemberName,
    l.LoanDate,
    l.DueDate
FROM Loan l
INNER JOIN Book b ON b.BookId = l.BookId
INNER JOIN Member m ON m.MemberId = l.MemberId
WHERE l.ReturnDate IS NULL;
GO
/****** Object:  View [dbo].[ReturnedLoans]    Script Date: 2025-12-28 14:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ReturnedLoans] AS
SELECT 
    l.LoanId,
    b.Title AS BookTitle,
    m.FirstName + ' ' + m.LastName AS MemberName,
    l.LoanDate,
    l.DueDate,
    l.ReturnDate
FROM Loan l
INNER JOIN Book b ON b.BookId = l.BookId
INNER JOIN Member m ON m.MemberId = l.MemberId
WHERE l.ReturnDate IS NOT NULL;
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([BookId], [Title], [Author], [ISBN], [Category]) VALUES (1, N'Kodens Hemlighet', N'A. Programmer', N'0440486604', N'Utveckling')
INSERT [dbo].[Book] ([BookId], [Title], [Author], [ISBN], [Category]) VALUES (2, N'Äventyret i Bara Skogen', N'E. Författare', N'0333964409', N'Barnbok')
INSERT [dbo].[Book] ([BookId], [Title], [Author], [ISBN], [Category]) VALUES (3, N'Den Tysta Bokhyllan', N'S. Lindgren', N'1040568587', N'Roman')
SET IDENTITY_INSERT [dbo].[Book] OFF
GO
SET IDENTITY_INSERT [dbo].[Loan] ON 

INSERT [dbo].[Loan] ([LoanId], [BookId], [MemberId], [LoanDate], [DueDate], [ReturnDate]) VALUES (1, 1, 1, CAST(N'2025-11-24' AS Date), CAST(N'2025-12-24' AS Date), CAST(N'2025-12-10' AS Date))
INSERT [dbo].[Loan] ([LoanId], [BookId], [MemberId], [LoanDate], [DueDate], [ReturnDate]) VALUES (2, 2, 2, CAST(N'2025-11-24' AS Date), CAST(N'2025-12-08' AS Date), CAST(N'2025-12-19' AS Date))
INSERT [dbo].[Loan] ([LoanId], [BookId], [MemberId], [LoanDate], [DueDate], [ReturnDate]) VALUES (3, 3, 3, CAST(N'2025-11-24' AS Date), CAST(N'2025-12-15' AS Date), CAST(N'2025-11-24' AS Date))
SET IDENTITY_INSERT [dbo].[Loan] OFF
GO
SET IDENTITY_INSERT [dbo].[Member] ON 

INSERT [dbo].[Member] ([MemberId], [FirstName], [LastName]) VALUES (1, N'Joco', N'Borghol')
INSERT [dbo].[Member] ([MemberId], [FirstName], [LastName]) VALUES (2, N'Nikola', N'Borghol')
INSERT [dbo].[Member] ([MemberId], [FirstName], [LastName]) VALUES (3, N'Jolie', N'Bengtsson')
SET IDENTITY_INSERT [dbo].[Member] OFF
GO
/****** Object:  Index [IX_Loan_ReturnDate]    Script Date: 2025-12-28 14:20:27 ******/
CREATE NONCLUSTERED INDEX [IX_Loan_ReturnDate] ON [dbo].[Loan]
(
	[ReturnDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Loan_ReturnDate_Null]    Script Date: 2025-12-28 14:20:27 ******/
CREATE NONCLUSTERED INDEX [IX_Loan_ReturnDate_Null] ON [dbo].[Loan]
(
	[ReturnDate] ASC
)
WHERE ([ReturnDate] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Loan]  WITH CHECK ADD  CONSTRAINT [FK_Loan_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([BookId])
GO
ALTER TABLE [dbo].[Loan] CHECK CONSTRAINT [FK_Loan_Book]
GO
ALTER TABLE [dbo].[Loan]  WITH CHECK ADD  CONSTRAINT [FK_Loan_Member] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([MemberId])
GO
ALTER TABLE [dbo].[Loan] CHECK CONSTRAINT [FK_Loan_Member]
GO
/****** Object:  StoredProcedure [dbo].[RegisterLoan]    Script Date: 2025-12-28 14:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegisterLoan]
@BookId INT,
@MemberId INT
AS
BEGIN
IF EXISTS (SELECT 1 FROM Loan WHERE BookId = @BookId AND ReturnDate IS NULL)
BEGIN
PRINT 'The book is already loaned out.';
RETURN;
END

INSERT INTO Loan (BookId, MemberId, LoanDate, DueDate)
VALUES (@BookId, @MemberId, GETDATE(), DATEADD(DAY, 14, GETDATE()));

PRINT 'Loan registered.';
END;
GO
/****** Object:  StoredProcedure [dbo].[ReturnBook]    Script Date: 2025-12-28 14:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ReturnBook]
@LoanId INT
AS
BEGIN
IF NOT EXISTS (SELECT 1 FROM Loan WHERE LoanId = @LoanId AND ReturnDate IS NULL)
BEGIN
PRINT 'Loan not found or already returned.';
RETURN;
END

UPDATE Loan
SET ReturnDate = GETDATE()
WHERE LoanId = @LoanId;

PRINT 'Book returned successfully.';
END;
GO
USE [master]
GO
